


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--fuente-titulo), sans-serif;
}

/* Header y modelo destacado */

body{
    width: 100%;
    background-color: aqua;
}

header {
    /* display: block; */
    width: 100%;
    background-color: rebeccapurple;
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited {
    color: black;
}


#topnav {
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 100%;
    background-color: orange;
}

#topnavleft {
    height: 3rem;
    width: 60%;
    display: flex;
    align-items: center;
}

#logocontainer {
    display: flex;
    justify-content: center;
    width: 10%;
}

#logosmall {
    height: 3rem;
}

#topnavleft ul {
    display: flex;
    justify-content:space-evenly;
    min-width: 400px;
    background-color: blue;
}

#topnavright {
    align-items: center;
    background-color: rgb(77, 77, 213);
}

#topnavright ul {
    display: flex;
    justify-content:space-evenly;
    min-width: 100px;
}

#monthcampaign img{
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 0;
}

#monthcampaign div {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1;
}

#monthcampaign h2 {
    font-size: 3em;
    color: antiquewhite;
}

#monthcampaign p {
    font-size: 1em;
    color: rgb(50, 43, 33);
}


/* Modelos y colores */

.models {
    padding: 2.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4%; 
    width: 98vw;
    height: 100vw;
  }

@media (max-width: 450px) {
    .models {
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
        gap: 2%; 
    }
}

  
  .model {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    font-size: 2rem;
    color: white;
    border-radius: 20px;
  }
        .modelname {
            width: 90%;
            height: 20%;
            color: black;
            font-size: 0.8em;
            font-weight: 100;
        }

        .model img {
            width: 100%;
        }
        .modelfooter {
            width: 90%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
        }
            .moreinfobutton {
                width: 7em;
                height: 3em;
                border-radius: 3rem;
                border: 0;
                background-color: white;
                cursor: pointer;
                transition: 0.3;
            }

            .moreinfobutton:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra en el hover */
            }

            .carcolors {
                width: 50%;
                height: 2rem;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }

                .btn {
                    width: 3em;
                    height: 3em;
                    border-radius: 3rem;
                    border: 0px solid black;
                    cursor: pointer;
                    transition: 0.3s;
                }

                .btn:hover {
                    box-shadow: 0 0px 8px rgba(0, 0, 0, 1); /* Sombra en el hover */
                }

                .black {
                    background-color: black;
                }
                .white {
                    background-color: white;
                }
                .red {
                    background-color: red;
                }
                .green {
                    background-color: rgb(176, 175, 68);
                }
                .blue {
                    background-color: blue;
                }
                .yellow {
                    background-color: yellow;
                }

                .btn:active {
                    border: 5px double black;

                }

       
                

  .pie {
    width: 100%;
    padding-left: 2em;
  }

  .pie h2 {
    font-size: 3.5em;
    font-weight: 100;
  }